@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(24, 24, 58);
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
